.footer{
    width: 100%;
    background-color: var(--brown-main);
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img{
    width: 14px;
    margin-right: 10px;
}

.text{
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
}

.title{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}